<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registration_number.css">
    <title>Registration_numbers_webapp</title>
</head>

<body>
    <div class="container">
        <section class=regNumWidget>
            <h1>REGISTRATION NUMBERS WEBAPP</h1>

            <form action="/reg_numbers" method="POST">

                {{#if messages.warning}}
                <div class="errorMsg" id="errorMsgID">{{messages.warning}}</div><br><br>
                {{/if}}

                {{#if messages.feedback}}
                <div class="displayFeedback" id="errorMsgID">{{messages.feedback}}</div><br><br>
                {{/if}}

                <div class="RegNum">
                    <label for="regN">Registration Number</label>
                    <input class="RegTextbox" type="text" id="regText" name="regText"
                        placeholder="FORMAT: CA 123-456 / CY 123456/ CL 123 456">
                </div><br>

                <button class="addBtn" type="submit">ADD</button>
                <br><br>
            </form>

            <form action="/selectTown" method="POST">
                <div class=inputs>

                    <div class=rad1>
                        <input class="radio" type="radio" name="town" id="town" value="capetown">
                        <label class="radioName" for="capetown">Cape Town</label>
                    </div>

                    <div class=rad1>
                        <input class="radio" type="radio" name="town" id="town" value="bellville">
                        <label class="radioName" for="bellville">Bellville</label>
                    </div>

                    <div class=rad1>
                        <input class="radio" type="radio" name="town" id="town" value="malmesbury">
                        <label class="radioName" for="malmesbury">Malmesbury</label>
                    </div>

                    <div class=rad1>
                        <input class="radio" type="radio" name="town" id="town" value="stellie">
                        <label class="radioName" for="stellenbosch">Stellenbosch</label>
                    </div>

                    <br><br>
                </div>

                <input class="showBtn" type="submit" value="SHOW">
            </form>

            <form action="/showAllTowns" method="GET">
                <button class="showAllBtn" type="submit">SHOW ALL</button>
            </form>

            <form action="/reset" method="POST">
                <button class="resetBtn" type="submit">RESET</button>
            </form>
            <br><br>

            {{#each allReg}}
            <p class="showRegNum" id="showRegNumID">{{this.regnum}}</p>
            {{/each}}
        </section>
    </div>
</body>

</html>