body{
    background-color:#B68E7E;
}

.container{
   width: 100%;
   padding: 50px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex;
}

.regNumWidget{
	width:50%;
    border: 15px solid #A5ADA7;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.regNum{
	width:50%;
    border: 15px solid #A5ADA7;
    margin-left: 50px;
    padding: 20px;
    margin-right: 50px;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: #55423E;
}

select:invalid{
    color: gray;
}

.RegTextBox{
    height: 100px;
    font-size: 14pt;
}

.RegNum{
    width: 100%;
}

@media only screen and (min-width: 768px){
    .rad1{
        display: inline-block;
    }   
}

@media only screen and (max-width: 768px){
    label[for="towns"]{
        font-weight: bold;
    }
}

@media only screen and (max-width: 375px){
    h1{
        font-size: medium;
    }
}

@media only screen and (max-width: 671px){
    .inputs{
        width: 100%;
    }
}

label[for="regN"]{
    font-weight: bold;
}

input[type="text"]{
    width: 60%;
    border: 2px solid #A5ADA7;
    margin-left: 5px;
}
/* 
.spanClass{
    border: 5px solid black;
    background-color: yellow;
    border-radius: 5px;
    list-style: none;
    width: 90px;
    margin: auto;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
} */

.showRegNum{
    border: 5px solid black;
    background-color: yellow;
    border-radius: 5px;
    list-style: none;
    width: 90px;
    margin: auto;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

@keyframes errorDisappear {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.errorMsg{
    color: red;
    font-weight: bold;
    animation: errorDisappear 0s ease-in 3s forwards;
}

.displayFeedback{
    color: green;
    font-weight: bold;
    animation: errorDisappear 0s ease-in 3s forwards;
}