body{
    background-color:#B68E7E;
}

.container{
   width: 100%;
   padding: 50px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex;
}

.regNum{
	width:50%;
    border: 15px solid #A5ADA7;
    border-radius: 25px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: #55423E;
}

select:invalid{
    color: gray;
}

.RegTextBox{
    height: 100px;
    font-size: 14pt;
}

.RegNum{
    width: 100%;
}

@media only screen and (max-width: 768px){
    label[for="towns"]{
        font-weight: bold;
    }
}

@media only screen and (max-width: 375px){
    h1{
        font-size: medium;
    }
}

@media only screen and (max-width: 671px){
    .inputs{
        width: 100%;
    }
}

label[for="regN"]{
    font-weight: bold;
}

input[type="text"]{
    width: 60%;
    border: 2px solid #A5ADA7;
    margin-left: 5px;
}

.showRegNum{
    border: 5px solid black;
    background-color: yellow;
    border-radius: 5px;
    list-style: none;
    width: 90px;
    margin: auto;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

@keyframes errorDisappear {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.errorMsg{
    color: red;
    font-weight: bold;
    animation: errorDisappear 0s ease-in 3s forwards;
}

.displayFeedback{
    color: green;
    font-weight: bold;
    animation: errorDisappear 0s ease-in 3s forwards;
}

input[type="submit"]{
    background:rgba(116, 111, 111, 0.5);
    padding: 0.5rem;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    width: 10rem;
    margin-right: 1.9rem;
}

@media only screen and (max-width: 425px){
    .formsss{
        flex-direction: column; 
        float: none;
        margin-top: 0.5rem;
        width: 100%;
    }

    input[type="submit"]{
        margin: 0.5rem;
        width: 100%
    }
}

@media only screen and (max-width: 782px){
    .row{
        display: inline-block;
    }
}

@media only screen and (min-width: 783px){
    .row{
        display: flex;
    }
}

@media(min-width: 426px) and (max-width: 1000px){
    input[type="submit"]{
        width: 100%;
    }

    .showAllBtn{
        margin-top: 0.5rem;
    }

    .resetBtn{
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 1001px){
    .formsss{
        display: flex;
        margin-left: 11rem;
        margin-top: -2.1rem;
    }

    .resetBtn{
        margin-left: -1rem;
    }
}